<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/smart_construction</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="mx/tiid/smartconstruction/model/Sesiones.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/FactoresIncumplimiento.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/Comentarios.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/Usuarios.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/Actividades.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/Project.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/Reportes.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/Codigos.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/Partida.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/UsuariosProyectos.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/Empresas.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/Losas.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/RolUsuarios.hbm.xml" />
        <mapping resource="mx/tiid/smartconstruction/model/Proyectos.hbm.xml" />
    </session-factory>
</hibernate-configuration>
